In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("EDA_Gold_Silver_prices.csv")

In [3]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [4]:
df['GoldPrice'].corr(df.SilverPrice)

0.9542559570539784

In [6]:
df1=df['08' in df.Month[-3:]]

KeyError: False

In [7]:
df1.head()

NameError: name 'df1' is not defined

In [8]:
df.Month.value_counts

<bound method IndexOpsMixin.value_counts of 0      Mar-97
1      Apr-97
2      May-97
3      Jun-97
4      Jul-97
        ...
236    Nov-16
237    Dec-16
238    Jan-17
239    Feb-17
240    Mar-17
Name: Month, Length: 241, dtype: object>

In [19]:
df1=df[df.Month.apply(lambda x: "08" in x)]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        241 non-null    object
 1   SilverPrice  241 non-null    float64
 2   GoldPrice    241 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.8+ KB

In [13]:
'08' in 'May-08'

True

In [15]:
df[df.Month=='May-08']

      Month  SilverPrice  GoldPrice
134  May-08        718.2   37435.38

In [16]:
df[df.Month in '08']

TypeError: 'in <string>' requires string as left operand, not Series

In [21]:
df1.head()

      Month  SilverPrice  GoldPrice
130  Jan-08       632.29   35025.78
131  Feb-08       701.87   36642.46
132  Mar-08       775.49   39082.77
133  Apr-08       700.96   36416.00
134  May-08       718.20   37435.38

In [22]:
df1['GoldPrice'].corr(df1.SilverPrice)

0.009583757463369355