In [1]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

marks.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [3]:
marks.shape

(99, 6)

In [4]:
marks.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [6]:
marks.Final.value_counts

<bound method IndexOpsMixin.value_counts of 0     52.50
1     68.33
2     48.89
3     80.56
4     73.89
      ...
94    61.94
95    39.72
96    87.78
97    85.56
98    77.22
Name: Final, Length: 99, dtype: float64>

In [8]:
marks[marks.Final.isnull()]

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
20       8       63.40     86.21    63.12     72.78    NaN
38       6       90.74     89.64    61.25     90.00    NaN
60       8       71.79    102.87    41.88     24.77    NaN
73       7         NaN       NaN      NaN       NaN    NaN
90       8         NaN       NaN      NaN       NaN    NaN

In [12]:
marks[marks.iloc[:].isnull()]

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0      NaN         NaN       NaN      NaN       NaN    NaN
1      NaN         NaN       NaN      NaN       NaN    NaN
2      NaN         NaN       NaN      NaN       NaN    NaN
3      NaN         NaN       NaN      NaN       NaN    NaN
4      NaN         NaN       NaN      NaN       NaN    NaN
..     ...         ...       ...      ...       ...    ...
94     NaN         NaN       NaN      NaN       NaN    NaN
95     NaN         NaN       NaN      NaN       NaN    NaN
96     NaN         NaN       NaN      NaN       NaN    NaN
97     NaN         NaN       NaN      NaN       NaN    NaN
98     NaN         NaN       NaN      NaN       NaN    NaN

[99 rows x 6 columns]

In [13]:
marks.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [14]:
marks[marks.Tutorial.isnull()]

    Prefix  Assignment  Tutorial  Midterm  TakeHome   Final
11       6       86.26       NaN      NaN     87.59   77.50
12       8       97.16       NaN      NaN     93.52   63.33
13       7       91.28       NaN      NaN     99.81   92.22
14       8       84.80       NaN      NaN     16.91   35.83
43       7       86.26       NaN      NaN       NaN   82.22
44       6       57.14       NaN      NaN       NaN   55.83
45       7       93.83       NaN      NaN       NaN   45.56
46       8       68.95       NaN      NaN       NaN   65.28
47       8       85.01       NaN      NaN       NaN   72.22
48       8       95.90       NaN      NaN       NaN  102.22
73       7         NaN       NaN      NaN       NaN     NaN
90       8         NaN       NaN      NaN       NaN     NaN

In [23]:
marks1=marks.iloc[[73,90]]

In [24]:
marks1

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
73       7         NaN       NaN      NaN       NaN    NaN
90       8         NaN       NaN      NaN       NaN    NaN

In [27]:
marks[~marks1]

TypeError: ufunc 'invert' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [35]:
marks[marks.isnull().sum(axis=1)>=5]

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
73       7         NaN       NaN      NaN       NaN    NaN
90       8         NaN       NaN      NaN       NaN    NaN

In [30]:
marks.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [33]:
marks.shape

(99, 6)

In [36]:
len(marks[marks.isnull().sum(axis=1)>=5].index)

2

In [37]:
marks=marks[marks.isnull().sum(axis=1)<5]

In [38]:
marks.shape

(97, 6)

In [40]:
marks.dropna()

Prefix        0
Assignment    0
Tutorial      0
Midterm       0
TakeHome      0
Final         0
dtype: int64

In [41]:
marks.isnull().sum()

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

In [43]:
marks.TakeHome.dropna().isnull().sum()

0

In [44]:
import pandas as pd
rating = pd.read_csv('https://query.data.world/s/EX0EpmqwfA2UYGz1Xtd_zi4R0dQpog')

In [45]:
rating.shape

(1254, 5)

In [46]:
rating.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2