In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../../../Inferential Statistics - Student Loan.csv")

In [3]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [4]:
df.columns

Index(['Customer No.', 'Exposure at Default (in lakh Rs.)', 'Recovery (%)',
       'Probability of Default', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [9]:
df['expected']=df['Probability of Default']*df['Exposure at Default (in lakh Rs.)']*(1-df['Recovery (%)'])

In [8]:
df['Recovery (%)']=df['Recovery (%)'].apply(lambda x: float(x[:-1])/100)

In [10]:
df

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,expected
0,1,11.50,0.2000,0.0070,NaN,NaN,0.064400
1,2,0.24,0.0510,0.0033,NaN,NaN,0.000752
2,3,0.04,0.2486,0.0022,NaN,NaN,0.000066
3,4,13.81,0.0229,0.0066,NaN,NaN,0.089059
4,5,19.84,0.0347,0.0020,NaN,NaN,0.038303
...,...,...,...,...,...,...,...
9995,9996,19.79,0.2019,0.0079,NaN,NaN,0.124776
9996,9997,18.33,0.3838,0.0068,NaN,NaN,0.076806
9997,9998,10.83,0.2840,0.0037,NaN,NaN,0.028691
9998,9999,24.29,0.3737,0.0056,NaN,NaN,0.085192
9999,10000,0.03,0.2255,0.0032,NaN,NaN,0.000074

In [11]:
df.expected.sum()

493.39131440619997