In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
print(range(5))

range(0, 5)

In [5]:
for i in range(4):
    print(i)

0
1
2
3

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [9]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [11]:
anand="dude this is awesome learning"
for alpha in anand:
    print(alpha)

d
u
d
e

t
h
i
s

i
s

a
w
e
s
o
m
e

l
e
a
r
n
i
n
g

In [12]:
anand="dude this is awesome learning"
for alpha in anand.split():
    print(alpha)

dude
this
is
awesome
learning

In [ ]:
#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [18]:
for i in range(1,10):
    if(i<=5):
        print('*'*i)
    else:
        print('*'*(10-i))

*
**
***
****
*****
****
***
**
*

In [28]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
my_string = "Mary had a little lamb"

for alphabet in enumerate(my_string):
    print(alphabet)

(0, 'M')
(1, 'a')
(2, 'r')
(3, 'y')
(4, ' ')
(5, 'h')
(6, 'a')
(7, 'd')
(8, ' ')
(9, 'a')
(10, ' ')
(11, 'l')
(12, 'i')
(13, 't')
(14, 't')
(15, 'l')
(16, 'e')
(17, ' ')
(18, 'l')
(19, 'a')
(20, 'm')
(21, 'b')

In [30]:
test= [('1','A','I'),('2','B','II'),('3','C','III'),('4','D','IV')]

print(list(enumerate(test)))
for i,j in enumerate(test):
    print(i,j)

[(0, ('1', 'A', 'I')), (1, ('2', 'B', 'II')), (2, ('3', 'C', 'III')), (3, ('4', 'D', 'IV'))]
0 ('1', 'A', 'I')
1 ('2', 'B', 'II')
2 ('3', 'C', 'III')
3 ('4', 'D', 'IV')

In [35]:
for i in range(100):
    print(i)
    if i>50:
        pass
        print("hey there ")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
hey there
52
hey there
53
hey there
54
hey there
55
hey there
56
hey there
57
hey there
58
hey there
59
hey there
60
hey there
61
hey there
62
hey there
63
hey there
64
hey there
65
hey there
66
hey there
67
hey there
68
hey there
69
hey there
70
hey there
71
hey there
72
hey there
73
hey there
74
hey there
75
hey there
76
hey there
77
hey there
78
hey there
79
hey there
80
hey there
81
hey there
82
hey there
83
hey there
84
hey there
85
hey there
86
hey there
87
hey there
88
hey there
89
hey there
90
hey there
91
hey there
92
hey there
93
hey there
94
hey there
95
hey there
96
hey there
97
hey there
98
hey there
99
hey there

In [29]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [36]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

All Evens are : 8884828028822 & All odds are : 33793731

In [38]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [39]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [ ]:
sentence = "Is Python simpler than R ?"
for word in sentence.split():
    print(word)

In [40]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [41]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [42]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [43]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [44]:
for val in students_data.values():
    print(val)

['Shivam Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Calcuttawala', 27]

In [45]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [46]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

In [50]:
d = {0, 1, 2}
for x in d:
    d.add(x)
    print(type(d))

<class 'set'>
<class 'set'>
<class 'set'>